Package: com.pwnd2e.contactsextended
Section: Tweaks
Installed-Size: 520
Maintainer: pwnd2e
Architecture: iphoneos-arm64
Version: 1.9.1
Depends: firmware (>= 14), xyz.cypwn.xinam1ne
Conflicts: com.packetfahrer.swipetodeletecontact, org.thebigboss.elite
Description: Your contacts - with more options!
Name: Contacts Extended
Author: 0xkuj
Icon: https://media.havoc.app/620c674e7669e842d27da3ec?w=1920&q=75

